*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(71, 71, 71);
    margin: 10px;
}

.tabPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.counter-container button{
    margin: 10px;
    color: white;
    text-decoration: none;
    height: 100%;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    padding: 7px;
    background:  rgb(71, 71, 71);
    border-radius: 5px;
    width: 20%;
}

.counter-container .decrement-button{
    width: 2rem;
    margin:0;
}

.counter-container .counter{
    font-weight: bold;
    color:rgb(71, 71, 71);
    font-size: 2rem;
}

.two-input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.two-input .dynamic-input button{
    color: white;
    margin-bottom: 3px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background:  rgb(71, 71, 71);
    border-radius: 5px;
}

.two-input input{

    width: 15%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color:  rgb(71, 71, 71);

}