
.pages-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-container .Autorizace-component, .Platby-component, .SPEC-component, .Reklamace-component {
    width: 25%;
}
@media screen and (max-width:940px){
    .pages-container {
        display: block;
        width: 100%;
        justify-content: center;
    }
    .pages-container .Autorizace-component, .Platby-component, .SPEC-component, .Reklamace-component {
        width: 100%;
    }
}